<a href="https://colab.research.google.com/github/anaverul/restaurant-data-analysis/blob/main/Delivery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
raw_data = '/content/drive/MyDrive/DS_Competition/Competition detail data .xlsx'

In [ ]:
import pandas as pd
# Data preprocessing
restaurant_df = pd.read_excel(raw_data)
restaurant_df['latitude']=restaurant_df['latitude'].astype('float')
restaurant_df['longitude']=restaurant_df['longitude'].astype('float')
restaurant_df=restaurant_df.reset_index()
restaurant_df=restaurant_df.drop('index',axis=1)

restaurant_df.head()

                       id  ... cross_streets
0  nzgC5hhlnSq2DYbJbtH5MQ  ...           NaN
1  i-2aG9_PQBEy7LrsRv0Ivg  ...           NaN
2  DJoeogRsOW5s9MzgveHQ2A  ...           NaN
3  hwWfv3sSxV3a47UAdSVT5w  ...           NaN
4  TxU0fwF2N2nVhCpzokc1Pg  ...           NaN

[5 rows x 21 columns]

In [ ]:
import pandas as pd
# Cleaning city names
restaurant_df['city'] = restaurant_df.city.apply(lambda x: x.strip().lower())

# Column name changed
restaurant_df['cty'] = restaurant_df.city.apply(lambda x: x[:-2] if x[-2:]=='ca' else x)
restaurant_df['city'] = restaurant_df.city.apply(lambda x: ' '.join(x.split()))
restaurant_df['city'] = restaurant_df.city.replace('lost angeles', 'los angeles')
restaurant_df['city'] = restaurant_df.city.replace('longbeach', 'long beach')
restaurant_df['city'] = restaurant_df.city.replace('rowland hghts', 'rowland heights')
restaurant_df['city'] = restaurant_df.city.replace('rowland heightes', 'rowland heights')
restaurant_df['city'] = restaurant_df.city.replace('santa fe spring', 'santa fe springs')
restaurant_df['city'] = restaurant_df.city.replace('shermanoaks', 'sherman oaks')
restaurant_df['city'] = restaurant_df.city.replace('canyon cntry', 'canyon country')
restaurant_df['city'] = restaurant_df.city.replace('studiocity', 'studio city')
restaurant_df['city'] = restaurant_df.city.replace('santa moni', 'santa monica')

# Set up capital letters for first letter
restaurant_df['city'] = restaurant_df.city.apply(lambda x: str(x)[0].upper()+ str(x)[1:])
restaurant_df['categories01'] = restaurant_df.categories01.apply(lambda x: str(x)[0].upper()+ str(x)[1:])
restaurant_df['categories02'] = restaurant_df.categories02.apply(lambda x: str(x)[0].upper()+ str(x)[1:])
restaurant_df['categories03'] = restaurant_df.categories03.apply(lambda x: str(x)[0].upper()+ str(x)[1:])

# Replace category for more general ones
restaurant_df['categories01'] = restaurant_df.categories01.replace('Tacos', 'Mexican')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Sushi', 'Japanese')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Ramen', 'Japanese')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Ramen', 'Japanese')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Teppanyaki', 'Japanese')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Tea', 'Cafe')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Shanghainese', 'Chinese')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Coffee', 'Cafes')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Cantonese', 'Chinese')
restaurant_df['categories01'] = restaurant_df.categories01.replace('hotpot', 'Chinese')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Szechuan', 'Chinese')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Beer_and_wine', 'Bars')
restaurant_df['categories01'] = restaurant_df.categories01.replace('BeerBar', 'Bars')
restaurant_df['categories01'] = restaurant_df.categories01.replace('Wine_bars', 'Bars')
# To-do: build code so that if categories02 or 03 are in category_list add it to the list?
# Replace foodtruck with whatever is in categories 02 or 03
#  restaurant_df['categories02'] = restaurant_df.categories01.apply(lambda x: ) - やる！

# Using this file for map and bar chart
map_df = restaurant_df.copy()
#map_df.head(100)

In [ ]:
# Create city_list

city_list = restaurant_df.groupby('city').count().sort_values(by='id',ascending=False)[:10].index.to_list()
city_list.remove('Los angeles')
city_list.append('Pasadena')
city_list.sort()

# Create category_list
top_category_list = restaurant_df.groupby('categories01').count().sort_values(by='id',ascending=False)[:10].index.to_list()
top_category_list.sort()
print(city_list)
print(top_category_list)
new_df = restaurant_df.loc[restaurant_df['categories01'].isin(top_category_list)]
#print(new_df)
writer = pd.ExcelWriter('/clean_competition_detail_dataset.xlsx')
new_df.to_excel(writer, sheet_name ='Sheet1', index=False)
writer.save()

['Beverly hills', 'Culver city', 'Glendale', 'Huntington park', 'Lancaster', 'Long beach', 'Palmdale', 'Pasadena', 'Santa monica', 'South gate']
['Burgers', 'Cafes', 'Chinese', 'Hotdogs', 'Japanese', 'Korean', 'Mexican', 'Newamerican', 'Pizza', 'Sandwiches']